@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

*{
  font-family: 'Montaga', serif !important;
}

input{
  border: 2px solid rgba(0, 0, 0, 0.31) !important;
  border-radius: 2px;
  -webkit-border-radius: 2px;

  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  height: 40px !important;
}

input:focus .ant-picker{
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}


label{
  font-size: 16px !important;
  color: black;
}

.ant-form-item{
  margin: 10px 0 30px !important;
}

.ant-picker-input input{
  border: none !important;
}


.ant-picker{
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.31) !important;

}

.primary-button{
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px; */
  background-color: rgb(4, 31, 19) !important;
  border-color: blue !important;
  height: 40px !important;
  color: rgba(255, 255, 255, 0.832) !important;
  font-size: 15px !important;
  width: 100% !important;
}


.primary-button-one{
  background-color: rgb(10, 51, 33) !important;
  border-color: blue !important;
  height: 40px !important;
  color: rgba(255, 255, 255, 0.832) !important;
  font-size: 15px !important;
  width: 100% !important;
  max-width: max-content;
}

.primary-button-two{
  background-color: rgb(4, 31, 19) !important;
  border-color: blue !important;
  height: 40px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 18px !important;
  width: 100% !important;
}

.anchor{
  color: black !important;
  text-decoration: underline !important;
  font-size: 16px !important;
  cursor:pointer  !important;
}

.anchor:hover{
  text-decoration: underline !important;
  color: blue !important;
}

.cursor-pointer{
  cursor: pointer;
}

.card-title{
  font-size: 30px;
  font-weight: bold;
  color: rgba(34, 37, 40, 0.823);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* .bottom-text {
  position: absolute;
    bottom: 0;
    width: 100%;
    
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 300px !important;
} */

.normal-text{
  font-size: 1rem;
}

.card{
  box-shadow: 0 0 2px rgb(42, 41, 41) !important;
  border-radius: 10px !important;
  -webkit-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  background: rgba(125, 147, 217, 0.677) !important;
  border: 1px solid #ccc !important;
  animation-delay: 2s !important;
  animation: forwards 1s ease forwards !important;
  -webkit-animation: forwards 1s ease forwards !important;
}

.card:hover{
  
    box-shadow: 0 0 5px cyan,
    0 0 205px cyan, 0 0 100px cyan,
    0 0 200px cyan,0 0 100px cyan !important;

}


.authentication{
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(6, 7, 32);
  justify-content: center;
}

.authentication-form{
  width: 400px;
  border: 2px solid rgb(230, 228, 228);
}

.authentication .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(208, 44, 44);
  color: white !important;
  max-width: max-content !important;
  padding: 7px 15px;
  margin-left: -40px;
  margin-top: 10px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}


.spinner-parent{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgba(38, 37, 37, 0.859);
  justify-content: center;
  position: fixed;
  font-weight: 600 !important;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner-border{
  width: 5rem;
  height: 5rem;
  font-weight: 600 !important;
  color: rgba(31, 28, 28, 0.519);
}


.page-title{
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.close-icons{
  font-size: 35px !important;
  cursor: pointer ;
  padding-left: 10px;
}

.page-under{
  margin-bottom: 15px !important;
}

p{
  color: black !important;
  margin-top: 1px !important;
  padding-top: 0 !important;
}

.ant-table-cell-one{
  margin-right: 80px !important;
}

.ant-table-cell-two{
  margin-right: 50px !important;
}
